#root {
  margin: 0 ;
  padding: 0;

}

.titleadd{
  display: flex;
  justify-content: center;
}

.usercard {
  background-color: rgb(246, 254, 132);
}

/* .recipiecard:hover {
  background-color: rgb(255, 240, 90); 
} */

.catlist {
  display: flex;
  background-color: rgb(13, 13, 13);
  justify-content: center;
  margin:0;
  gap: 10px;
  margin-top: 50px;
}
#hi{
/* src/Cuisine.css */

.recipe-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  object-fit: cover;
}
}

.page-background {
  background-image: url('./assets/background.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 4rem; 
  color: #fff; 
}

.home-background {
  background-image: url('./assets/home2.jpg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 4rem; 
  color: #fff; 
}
/* Define the keyframes for running text */
@keyframes runningText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply the animation to the text */
.running-text {
  display: inline-block;
  white-space: nowrap;
  animation: runningText 10s linear infinite;
  font-size: 3rem; /* Adjust the size as needed */
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
