#root {
  margin: 0 ;
  padding: 0;

}

.titleadd{
  display: flex;
  justify-content: center;
}

.usercard {
  background-color: rgb(246, 254, 132);
}

/* .recipiecard:hover {
  background-color: rgb(255, 240, 90); 
} */

.catlist {
  display: flex;
  background-color: rgb(246, 254, 132);
  justify-content: center;
  margin:0;
  gap: 10px;
  margin-top: 50px;
}
#hi{
/* src/Cuisine.css */

.recipe-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  object-fit: cover;
}
}

.page-background {
  background-image: url('./assets/background.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 4rem; 
  color: #fff; 
}

.home-background {
  background-image: url('./assets/home1.jpeg'); 
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  min-height: 100vh; 
  padding: 4rem; 
  color: #fff; 
}